body{
	background-color: #F5F5F5;

}
h1{
font-size: 30px;
color: #B03A2E;
}
h2{
font-size: 25px;
color: teal;
}
.big{
font-size: 60px;
}
.center{

text-align: center;
}
.big.center{
color: skyblue;
}
h1 span{
color: orangered;
}